# 忽略数据文件（保留sample示例）
in/*.dat
!in/sample.dat
out/*.dat
!out/sample.dat
log/*.log
!log/*sample*.log
mapping/*.csv
!mapping/mapping_example.csv

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# 编辑器
*.swp
*.swo
.vscode/
.idea/
